jQuery("#B1").click(function()
{
          var input_string1 = $$("input#tfield1").val();
          var input_string2 = $$("input#tfield2").val();
          var input_string3 = $$("input#tfield3").val();
          var input_string4 = $$("input#tfield4").val();
          var input_string5 = $$("input#tfield5").val();
          jQuery.ajax(
            {
             type: "POST",
             dataType: 'json',
             data: {tfield : input_string1+':'+input_string2+'@'+input_string3+'^'+input_string4+'#'+input_string5+'%'+'1'},

             success: function(dataxy)
             {
                  console.log(typeof dataxy);
                  var countxy = JSON.parse(dataxy);
                  // var countxy = jQuery.parseJSON(dataxy);

                  console.log(typeof countxy);
                  console.log('\n\nC');
                  console.log(countxy);
                  console.log(Object.keys(countxy['company_name']));

                  IDsX = countxy['IDs'];
                  console.log('\n\nIDs - Actual');
                  console.log(IDsX);

                  IDs = Object.keys(countxy['location']);
                  console.log('\n\nIDs - JSON');
                  console.log(IDs);


                  for (var i in IDsX)
                  {
                    console.log(IDsX[i]);

                    // Rank, CName, JTitle, JDesc, Skills, RExp, location
                  //   console.log(countxy['Rank'][IDs[i]],countxy['company_name'][IDs[i]],countxy['title'][IDs[i]],countxy['job_description'][IDs[i]],countxy['skills'][IDs[i]],countxy['req_exp'][IDs[i]],countxy['location'][IDs[i]]);

                    jQuery('#myTable1').append('<tr class="child" onclick="openJob('+IDsX[i]+')"><td>'+countxy['Rank'][IDsX[i]]+'</td><td>'+[IDsX[i]]+'</td><td>'+countxy['company_name'][IDsX[i]]+'</td><td>'+countxy['title'][IDsX[i]].join(", ")+'</td><td>'+countxy['skills'][IDsX[i]].join(", ")+'</td><td>'+countxy['req_exp'][IDsX[i]].join(", ")+'</td><td>'+countxy['location'][IDsX[i]]+'</td></tr>').hide().fadeIn(1000);
                    }

             },
            });
   return false;
   });

jQuery("#B2").click(function()
{
     var input_string1 = $$("input#tfield1").val();
     var input_string2 = $$("input#tfield2").val();
     var input_string3 = $$("input#tfield3").val();
     var input_string4 = $$("input#tfield4").val();
     var input_string5 = $$("input#tfield5").val();
     jQuery.ajax(
       {
         type: "POST",
         dataType: 'json',
         data: {tfield : input_string1+':'+input_string2+'@'+input_string3+'^'+input_string4+'#'+input_string5+'%'+'2'},

         success: function(dataxy)
         {
             console.log(typeof dataxy);
             var countxy = JSON.parse(dataxy);
             // var countxy = jQuery.parseJSON(dataxy);

             console.log(typeof countxy);
             console.log('\n\nC');
             console.log(countxy);
             console.log(Object.keys(countxy['location']));

             IDsX = countxy['IDs'];
             console.log('\n\nIDs - Actual');
             console.log(IDsX);

             IDs = Object.keys(countxy['location']);
             console.log('\n\nIDs - JSON');
             console.log(IDs);


             for (var i in IDsX)
             {
               console.log(IDsX[i]);

               // Rank, CName, JTitle, JDesc, Skills, RExp, location
             //   console.log(countxy['Rank'][IDs[i]],countxy['company_name'][IDs[i]],countxy['title'][IDs[i]],countxy['job_description'][IDs[i]],countxy['skills'][IDs[i]],countxy['req_exp'][IDs[i]],countxy['location'][IDs[i]]);

               jQuery('#myTable2').append('<tr class="child"><td>'+countxy['Rank'][IDsX[i]]+'</td><td>'+[IDsX[i]]+'</td><td>'+countxy['company_name'][IDsX[i]]+'</td><td>'+countxy['title'][IDsX[i]].join(", ")+'</td><td>'+countxy['job_description'][IDsX[i]].join(", ")+'</td><td>'+countxy['skills'][IDsX[i]].join(", ")+'</td><td>'+countxy['req_exp'][IDsX[i]].join(", ")+'</td><td>'+countxy['location'][IDsX[i]]+'</td></tr>').hide().fadeIn(1000);
               }

         },
       });
    return false;
    });

jQuery("#B3").click(function()
{
         var input_string1 = $$("input#tfield1").val();
         var input_string2 = $$("input#tfield2").val();
         var input_string3 = $$("input#tfield3").val();
         var input_string4 = $$("input#tfield4").val();
         var input_string5 = $$("input#tfield5").val();
         jQuery.ajax(
           {
             type: "POST",
             dataType: 'json',
             data: {tfield : input_string1+':'+input_string2+'@'+input_string3+'^'+input_string4+'#'+input_string5+'%'+'3'},

             success: function(dataxy)
             {
                 console.log(typeof dataxy);
                 var countxy = JSON.parse(dataxy);
                 // var countxy = jQuery.parseJSON(dataxy);

                 console.log(typeof countxy);
                 console.log('\n\nC');
                 console.log(countxy);
                 console.log(Object.keys(countxy['location']));

                 IDsX = countxy['IDs'];
                 console.log('\n\nIDs - Actual');
                 console.log(IDsX);

                 IDs = Object.keys(countxy['location']);
                 console.log('\n\nIDs - JSON');
                 console.log(IDs);


                 for (var i in IDsX)
                 {
                   console.log(IDsX[i]);

                   // Rank, CName, JTitle, JDesc, Skills, RExp, location
                 //   console.log(countxy['Rank'][IDs[i]],countxy['company_name'][IDs[i]],countxy['title'][IDs[i]],countxy['job_description'][IDs[i]],countxy['skills'][IDs[i]],countxy['req_exp'][IDs[i]],countxy['location'][IDs[i]]);

                   jQuery('#myTable3').append('<tr class="child"><td>'+countxy['Rank'][IDsX[i]]+'</td><td>'+[IDsX[i]]+'</td><td>'+countxy['company_name'][IDsX[i]]+'</td><td>'+countxy['title'][IDsX[i]].join(", ")+'</td><td>'+countxy['job_description'][IDsX[i]].join(", ")+'</td><td>'+countxy['skills'][IDsX[i]].join(", ")+'</td><td>'+countxy['req_exp'][IDsX[i]].join(", ")+'</td><td>'+countxy['location'][IDsX[i]]+'</td></tr>').hide().fadeIn(1000);
                   }

             },
           });
   return false;
   });

jQuery("#B4").click(function()
{
        var input_string1 = $$("input#tfield1").val();
        var input_string2 = $$("input#tfield2").val();
        var input_string3 = $$("input#tfield3").val();
        var input_string4 = $$("input#tfield4").val();
        var input_string5 = $$("input#tfield5").val();
        jQuery.ajax(
         {
            type: "POST",
            dataType: 'json',
            data: {tfield : input_string1+':'+input_string2+'@'+input_string3+'^'+input_string4+'#'+input_string5+'%'+'2'},

            success: function(dataxy)
            {
                console.log(typeof dataxy);
                var countxy = JSON.parse(dataxy);
                // var countxy = jQuery.parseJSON(dataxy);

                console.log(typeof countxy);
                console.log('\n\nC');
                console.log(countxy);
                console.log(Object.keys(countxy['location']));

                IDsX = countxy['IDs'];
                console.log('\n\nIDs - Actual');
                console.log(IDsX);

                IDs = Object.keys(countxy['location']);
                console.log('\n\nIDs - JSON');
                console.log(IDs);


                for (var i in IDsX)
                {
                  console.log(IDsX[i]);

                  // Rank, CName, JTitle, JDesc, Skills, RExp, location
                //   console.log(countxy['Rank'][IDs[i]],countxy['company_name'][IDs[i]],countxy['title'][IDs[i]],countxy['job_description'][IDs[i]],countxy['skills'][IDs[i]],countxy['req_exp'][IDs[i]],countxy['location'][IDs[i]]);

                  jQuery('#myTable4').append('<tr class="child"><td>'+countxy['Rank'][IDsX[i]]+'</td><td>'+[IDsX[i]]+'</td><td>'+countxy['company_name'][IDsX[i]]+'</td><td>'+countxy['title'][IDsX[i]].join(", ")+'</td><td>'+countxy['job_description'][IDsX[i]].join(", ")+'</td><td>'+countxy['skills'][IDsX[i]].join(", ")+'</td><td>'+countxy['req_exp'][IDsX[i]].join(", ")+'</td><td>'+countxy['location'][IDsX[i]]+'</td></tr>').hide().fadeIn(1000);
                  }

            },
         });
  return false;
  });


//  <tr class="child" onclick="openJob('+IDsX[i]+')">
